@using ARM.Models.Enum
@using Microsoft.AspNetCore.Http
@using Opmas.Models.Enum
@model ARM.Models.Application.Profiling
@{
    ViewBag.Title = "About You";
    Layout = "_Layout";
}
@section Css
    {
    <link href="~/datepicker/css/datepicker.css" rel="stylesheet" />
}

<style>
    .about_slider-area {
        height: 180px !important;
    }

    .contact-us-section {
        padding-top: 0px !important
    }
</style>
<div class="about_slider-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-text-2 text-center pt-40">
                    <h2 class="color-w font-w-8 font-40 pb-20">About You!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-us-section pb-30">
    <div class="container">
        <div class="form-box clearfix">
            @using (Html.BeginForm("BasicInfo", "Home", FormMethod.Post, new { @class = "shake scroll-reveal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                if (Context.Session.GetString("result") != null)
                 {
                     @Html.HiddenFor(n=>n.RsaAccount)
                     @Html.HiddenFor(n=>n.ArmPensionRegistered)
                     @Html.HiddenFor(n=>n.CurrentRetirementSavingBalance)
                     @Html.HiddenFor(n=>n.MonthlyEmployerContribution)
                     @Html.HiddenFor(n=>n.MonthlyEmployeeContribution)
                     @Html.HiddenFor(n=>n.VoluntaryContributions)
                     @Html.HiddenFor(n=>n.PaymentPerVoluntaryContributions)
                     @Html.HiddenFor(n=>n.FrequencyOfVoluntaryContributions)
                     @Html.HiddenFor(n=>n.IdealRetirementBalance)
                     @Html.HiddenFor(n=>n.RetirementHome)
                     @Html.HiddenFor(n=>n.RetirementDependants)
                     @Html.HiddenFor(n=>n.Will)
                     @Html.HiddenFor(n=>n.IncomeAsideRsa)
                     @Html.HiddenFor(n=>n.Invest)
                     @Html.HiddenFor(n=>n.BestFriend)
                     @Html.HiddenFor(n=>n.TvShow)
                 }
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label" })<span class="required">*</span>
                <input class="form-control datepicker" name="DateOfBirth" required="required" value="@Model?.DateOfBirth.ToString("MM/dd/yyyy")"  placeholder = "Please select your date of birth" data-date-format="mm/dd/yyyy">
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Gender, new { @class = "control-label" })<span class="required">*</span>
                    @Html.DropDownListFor(model => model.Gender, Html.GetEnumSelectList(typeof(Gender)).OrderByDescending(n => n.Value), "Select your Gender", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.MartitalStatus, new { @class = "control-label" })<span class="required">*</span>
                    @Html.DropDownListFor(model => model.MartitalStatus, Html.GetEnumSelectList(typeof(MaritalStatus)).OrderByDescending(n => n.Value), "Select your Marital Status", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MartitalStatus, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.RetirementAge, new { @class = "control-label" })<span class="required">*</span>
                    @Html.EditorFor(model => model.RetirementAge, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter your expected retirement age" } })
                    @Html.ValidationMessageFor(model => model.RetirementAge, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.AnnualSalary, new { @class = "control-label" })<span class="required">*</span>
                    @Html.EditorFor(model => model.AnnualSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "Please enter your annual income" } })
                    @Html.ValidationMessageFor(model => model.AnnualSalary, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-purple waves-effect waves-light pull-right">Next</button>
                    <a href="@Url.Action("Index")" class="btn btn-purple waves-effect waves-light pull-right">Cancel</a>
                </div>
            }
        </div>
    </div>
</section>
@section Script
    {

    <script src="~/datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy'
        });
    </script>
}
