@model ARM.Models.Application.Result
@{
    Layout = "_LayoutCalculate";
    ViewBag.Title = "Result & Recommendation";
    var otherRetirementBalance = 20 * Model?.OtherIncome;
    var avc = Model?.ExpectedRetirementBalance + otherRetirementBalance;
    avc = avc - Model?.IdealRetirementBalance;
    string appetite = null;
    string ageLimt = null;
    string ageLimtSuggestion = null;
    string appetiteRate = null;
    decimal programmedAmount;
    double k3 = 148758454.48;
    double l3 = 123824428.69;
    double p3 = 800935.72;
    double r3 = 1002882.02;

    if (k3 == l3)
    {
        programmedAmount = (decimal) p3;
    }
    else
    {
        programmedAmount = (decimal) r3;
    }

    if (Model?.RiskAppetite == "FundOne")
    {
        appetite = "Fund I";
        ageLimt = "49yrs & below";
    }
    if (Model?.RiskAppetite == "FundTwo")
    {
        appetite = "Fund II";
        ageLimt = "49yrs & below";
    }
    if (Model?.RiskAppetite == "FundThree")
    {
        appetite = "Fund III";
        ageLimt = "50yrs & above";
    }
    if (Model?.RiskAppetite == "FundFour")
    {
        appetite = "Fund IV";
        ageLimt = "50yrs & above";
    }
    if (Model?.Age < 49 && Model.RSA == "0" || Model?.RSA == "Yes")
    {
        ageLimtSuggestion = "Fund I";
        appetiteRate = "10% - 55%";
    }
    else if (Model?.Age < 49 && Model.RSA == "1" || Model?.RSA == "No")
    {
        ageLimtSuggestion = "Fund II";
        appetiteRate = "20% - 75%";
    }
    else if (Model?.Age > 50 && Model.RSA == "0" || Model?.RSA == "Yes")
    {
        ageLimtSuggestion = "Fund II";
        appetiteRate = "5% - 20%";
    }
    else
    {
        ageLimtSuggestion = "No Movement";
        appetiteRate = "0% - 10%";
    }
}

<!-- Result -->
@using (Html.BeginForm("SubmitRating", "Home", FormMethod.Post, new {@class = "sf-border", id = "wizard_example", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <fieldset>
        <legend>Result & Recommendation </legend>
        <div class="row">
            <div class="col-lg-12">
                <h3>Pension Calculator(Click <a href="@Url.Action("Calculate")">here</a> to modify information!)</h3>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                <img class="card-img-top" src="https://png.icons8.com/color/480/000000/ok.png" width="180" alt="Card image cap" style="display: block; margin-left: auto; margin-right: auto;">
            </div>


        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <table class="table table-bordered">
                            <tr>
                                <th>Retirement Age</th>
                                <th>Expected Retirement Balance</th>
                                <th>Ideal Retirement Balance</th>
                                <th style="width: 15%">Shortfall/Surplus</th>
                                <th>Projected Annual Salary</th>
                                <th style="width: 15%">Monthly Programmed Withdrawal Payment</th>
                            </tr>
                            <tr>
                                <td style="font-weight: bolder">@Model?.Age</td>
                                <td style="font-weight: bolder">&#8358 @string.Format("{0:n0}", Model?.ExpectedRetirementBalance)</td>
                                <td style="font-weight: bolder">&#8358 @string.Format("{0:n0}", Model?.IdealRetirementBalance)</td>
                                <td style="font-weight: bolder">&#8358 @string.Format("{0:n0}", avc)</td>
                                <td style="font-weight: bolder">&#8358 @string.Format("{0:n0}", Model?.ProjectedAnnualSalary)</td>
                                <td style="font-weight: bolder">&#8358 @string.Format("{0:n0}", programmedAmount)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Explanation
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul style="list-style-type: circle">

                                    <li>At your preferred retirement age of @Model?.Age, your expected retirement balance will be &#8358 @string.Format("{0:n0}", Model?.ExpectedRetirementBalance). You have a shortfall retirement balance of &#8358 @string.Format("{0:n0}", avc) before you can have your ideal retirement balance.</li>
                                    <br/>
                                    <li>To achieve your ideal retirement balance of &#8358 @string.Format("{0:n0}", Model?.IdealRetirementBalance) , we recommend an adjusted annual AVC of &#8358 @string.Format("{0:n0}", Model?.AdjustedAnualAvc) . We have assumed a new AVC amount of &#8358 @string.Format("{0:n0}", Model?.AdjustedAnualAvcCloseShortfall) to close the shortfall between your expected retirement balance and ideal retirement balance.</li>
                                    <br/>
                                    <li>With an annual salary increase rate at 4%, your annual, your projected annual salary at retirement is &#8358 @string.Format("{0:n0}", Model?.ProjectedAnnualSalary).</li>
                                    <br/>
                                    <li>Based on Pencom’s statutory regulation for computing programmed withdrawals at 8% per annum, your allowable monthly programmed withdrawal payment at retirement is &#8358 @string.Format("{0:n0}", programmedAmount).</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Fund type recommendation (based on age and risk appetite)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>
                                    Based on your age and risk appetite, we recommend the @appetite.
                                    The @appetite is a balanced risk profile which is the default fund for RSA Holders @ageLimt.
                                    You are exposed to @appetiteRate variable investment instruments within your portfolio.

                                    There is a possibility you can move to @ageLimtSuggestion based on your risk appetite.



                                    To learn more about the multi-fund structure visit <a style="font-weight: bolder" href="https://www.armpension.com/multi-fund-structure/" target="_blank">here</a> for more information.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Will recommendation
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                @if (Model?.Will == "Yes" || Model?.Will == "0")
                                {
                                    <p>Congratulations on already having a valid Will. Don't forget to update it when there is a significant change in your life such as marriage.</p>
                                }
                                else
                                {
                                    <p>A Will ensures that your dependants and/or intended beneficiaries receive whatever assets you want them to have when you are no longer around. It is advisable you make a legally binding Will or Testament as soon as possible </p>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model?.RSA == "No" || Model?.RSA == "1")
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Expression of Interest (EoI)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">

                                    <p>Do you want ARM Pensions to manage your RSA in the future?</p>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Refer someone to ARM Pensions today</label>
                    <input type="text" class="form-control" placeholder="Full Name" data-parsley-group="block4"/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" data-parsley-group="block4"/>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label>Rate your experience (1-5)</label>
                </div>

                <p>

                    <div id="myRating">

                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success" style="color: white">Rate!</button>

                </p>
            </div>

        </div>
    </fieldset>
}
@section Script
{
    <script src="~/Landing/js/emotion-ratings.min.js"></script>
    <script>


        var emotionsArray = {
            angry: "&#x1F620;",
            disappointed: "&#x1F61E;",
            meh: "&#x1F610;",
            happy: "&#x1F60A;",
            smile: "&#x1F603;",
            wink: "&#x1F609;",
            laughing: "&#x1F606;",
            inLove: "&#x1F60D;",
            heart: "&#x2764;",
            crying: "&#x1F622;",
            star: "&#x2B50;",
        };
        var emotionsArray = ['angry', 'disappointed', 'meh', 'happy', 'inLove'];
        $("#myRating").emotionsRating({
            emotions: emotionsArray
        });
    </script>
}